.player-stats {
  border: .2em solid black;
  margin-bottom: .5em;
  padding: .5em;
}

.player-stats .name {
  font-size: 1.5em;
  font-family: 'Graduate';
  text-align: center;
  color: #2c2c89;
}

.player-stats .number {
  margin-bottom: .5em; 
  font-family: 'Graduate';
  font-size: 3em;
  text-align: center;
  color: #ab322e;
  text-shadow: -2px 2px 0px #2c2c89;
}